<div class="units-row">
  <div class='unit-50'>
    The printer below will try to print lines which are shorter than {{max_columns}} characters.<br>
    <input type="range" ng-model="max_columns" min="0" max="500" step="1">
  </div>
  <div class='unit-50'>
    The printer below will try to unfold {{max_depth}} levels.<br>
    <input type="range" ng-model="max_depth" min="0" max="10" step="1">
  </div>
</div>
<div class="units-row">
  <div class='unit-50 example'>
    <pre ng-bind-html-unsafe="example | pretty:max_columns:'columns'"></pre>
  </div>
  <div class='unit-50 example'>
    <pre ng-bind-html-unsafe="example | pretty:max_depth:'levels'"></pre>
  </div>
</div>
